.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* margin-left: 100px;
    padding-right: 80px; */
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
    
}
.order-btn{
    color: white;
    background: orchid;
    padding: 10px 12px;
    margin-top: 5px;
}